.app-logo {
  width: 150px;
  margin-left: 48px;
}
.menu-img {
  width: 30px;
  height: 30px;
  margin-right: 48px;
  filter: invert(1);
}
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}
.just-steaks-background {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.just-steaks-logo {
  width: 120px;
  margin-top: 340px;
  animation: rotationY 6s linear infinite;
  transform-style: preserve-3d;
}
@keyframes rotationY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.just-steaks-logo-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.section-images {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 16px;
}
