.basket-content {
  width: 300px;
  background-color: var(--primary-color3);
  flex-grow: 1;
  z-index: 3;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.basket {
  width: 100%;
  background-color: var(--primary-color3);
  position: sticky;
  top: 10vh;
  text-align: center;
}
.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}
.basket-total {
  font-weight: bold;
  color: #b87333;
  text-align: right;
  padding: 8px;
}
