.basket-content {
  width: 300px;
  flex-grow: 1;
  z-index: 3;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 600px;
  position: sticky;
  top: 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 18px 0 0 18px;
  background-color: rgb(54, 53, 52);
}

.basket {
  width: 100%;
  background-color: rgb(54, 53, 52);
  height: 800px;
  text-align: center;
  padding-top: 16px;
}
.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px;
  border-bottom: 1px solid #eee;
  border-radius: 16px;
  background-color: rgb(253, 234, 220);
}

.basket-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
  padding-top: 16px;
  max-height: 250px;
  overflow-y: auto;
}
.basket-item-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.basket-empty {
  color: rgb(253, 234, 220);
  font-weight: bold;
  line-height: 1.5;
}
.basket-summary {
  padding: 8px;
  text-align: left;
  background-color: rgb(54, 53, 52);
  color: #eee;
}
.basket-total {
  font-weight: bold;
  color: #b87333;
  text-align: right;
  padding: 8px;
}
.total-price-container {
  border-top: 1px solid #eee;
  padding-top: 8px;
}
.basket-summary p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-price-container p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-message {
  color: rgb(253, 234, 220);
  text-align: center;
  padding: 24px;
  font-weight: bold;
  line-height: 1.5;
}
.order-button-container {
  text-align: center;
  padding: 8px;
  background-color: rgb(54, 53, 52);
}
.quantity-controls {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.open-basket-button {
  display: none;
}

.close-basket-button {
  display: none;
}
@media (max-width: 900px) {
  .basket-content {
    display: none;
    width: 0;
    padding: 0;
    flex-grow: 0;
  }

  .basket-content.basket-open {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: fixed;
    background-color: rgb(54, 53, 52);
    z-index: 10;
  }

  .basket {
    box-sizing: border-box;
    width: 90vw;
    max-width: 360px;
    position: absolute;
    background-color: rgb(54, 53, 52);
    backdrop-filter: blur(8px);
    overflow-y: auto;
    padding: 16px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    height: 700px;
  }

  .open-basket-button {
    display: block;
    position: sticky;
    bottom: 16px;
    left: 16px;
    right: 16px;
    z-index: 999;
    padding: 16px;
  }

  .close-basket-button {
    display: block;
    margin-left: auto;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
  }
}
